    .searchbar {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: flex-end;
    }
    
    .search-container {
        background: white;
        border-radius: 10px;
        width: 150px;
        padding: 0 10px;
        display: flex;
        align-items: center;
    }
    
    .search {
        background: transparent;
        border: none;
        width: 100px;
        height: 100%;
        padding: 10px;
        font-weight: 600;
        color: #23B791;
    }
    
    .cerca {
        width: 20px;
        height: 90%;
        color: #23B791;
    }
    
    .searched-container {
        border: solid 1px #00CC76;
        width: 90vw;
        height: 90vh;
    }
    @media only screen and (max-width: 600px) {
        .searchbar {
            justify-content: center;
            margin-top: 20px;
        }
    }