@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    font-weight: 200;
}

h3 {
    font-size: 1.5em;
    font-weight: 300;
    text-decoration: none;
}

span {
    font-weight: bold;
}

.main-container {
    margin: 80px auto;
    width: 80%;
    max-width: 1200px;
    height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: #23B791;
    font-size: 2rem;
}

.button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 50px;
    background: linear-gradient(#00CC76, #23B791);
    width: 120px;
    height: 40px;
    color: white;
    font-weight: bold;
}

.button:hover {
    background: white;
    color: #23B791;
    border: #23B791 solid 1px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00CC76;
    font-size: 3rem;
    font-weight: bold;
}

@media only screen and (max-width: 920px) {
    .main-container {
        height: auto;
        margin-top: 30px;
    }
    .vegetarian, .vegan {
        margin-bottom: 50px;
        height: auto;
    }
    .card-container {
        margin-top: 20px;
        display: wrap;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        width: auto;
    }
}


@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 130px;
        padding: 20px;
    }
    .searchbar {
        justify-content: center;
        margin-top: 20px;
    }
    h2 {
        text-align: center;
    }
    .vegetarian, .vegan {
        padding-bottom: 50px;
    }
    .button {
        z-index: 2;
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .mobile {
        display: inline;
    }
    .card-title {
        text-align: center;
    }
    /* RECIPE PAGE */
    .recipe-container {
        margin-top: 20px;
        padding: 20px;
    }
    .recipe-container h2 {
        font-size: 2rem;
    }
    .tag-container {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .gray-container {
        flex-direction: column;
        padding: 10px;
        margin-top: 20px;
    }
    .gray-container img {
        width: 100%;
    }
    .all-info {
        margin-left: 0;
    }
    .all-info li {
        margin-left: 20px;
    }
    .favor {
        margin-top: 10px;
        margin-left: auto;
    }
    .favorite-page {
        width: 90%;
        margin: auto;
        height: 70px;
        margin-bottom: 20px;
    }
    .favorite-trash {
        padding: 5px;
        height: 40px;
        margin: auto 7px;
    }
    .favorite-page h3 {
        font-size: 1.2rem;
    }
}