@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* border: blue solid 1px; */
    font-family: 'Montserrat';
    font-weight: 200;
}

.navbar {
    background: linear-gradient(#23B791, #00CC76);
    width: 100%;
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.favor {
    color: white;
    font-weight: 400;
    margin-left: 30px;
    width: 100%;
}

.favor:hover {
    text-decoration: underline 1px white;
}

.logo-container {
    color: white;
    display: flex;
}

.logo-container h3 {
    color: white;
    text-decoration: none;
}

h3 {
    font-size: 1.5em;
    font-weight: 300;
    text-decoration: none;
}

span {
    font-weight: bold;
}

.logo {
    width: 20px;
    margin-right: 10px;
}

.main-container {
    /* border: red solid 1px; */
    margin: 80px auto;
    width: 80%;
    max-width: 1200px;
    height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: #23B791;
    font-size: 2rem;
}

.vegetarian, .vegan {
    /* border: #00CC76 solid 2px; */
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.searched {
    /* border: #00CC76 solid 2px; */
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}

.card-container {
    /* border: solid 1px blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: flex-end; */
    overflow: auto;
    white-space: nowrap;
}

.card {
    /* border: red solid 1px; */
    border-radius: 15px;
    width: 220px;
    height: 240px;
    position: relative;
    margin: 8px;
    overflow: hidden;
}

.favorite {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    width: 30px;
    height: 30px;
    padding: 5px;

    background-color: #00cc77ba;
    border: none;
    border-radius: 10px;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorite.blue {
    background-color: red;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-info-cnt {
    background-color: #00cc77ba;
    border-radius: 15px;
    position: absolute;
    width: 90%;
    /* height: 50px; */
    bottom: 4%;
    left: 5%;
    color: white;
    /* font-weight: bold; */

    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-info-cnt p {
    /* border: solid 1px red; */
    width: 100%;
    white-space: normal;
}

.card-title {
    font-weight: bold;
}

    /* SEARCH CARD */

.searchbar {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
}

.search-container {
    /* border: solid red 1px; */
    background: white;
    border-radius: 10px;
    /* border: none; */
    width: 150px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.search {
    /* border: solid green 1px; */
    background: transparent;
    border: none;
    width: 100px;
    height: 100%;
    padding: 10px;
    font-weight: 600;
    color: #23B791;
}

.cerca {
    /* border: solid blue 1px; */
    width: 20px;
    height: 90%;
    color: #23B791;
}

.searched-container {
    border: solid 1px #00CC76;
    width: 90vw;
    height: 90vh;
}


/* RECIPE DETAILS PAGE */

.recipe-container {
    color: #868686;
    margin: 80px auto;
    padding: 0 50px;
    max-width: 1100px;
    font-weight: 400;
}

.recipe-container p {
    line-height: 25px;
}

.recipe-container h2 {
    font-size: 3rem;
}

.gray-container {
    background: #F6F6F6;
    border-radius: 30px;
    margin: 40px auto;
    display: flex;
    padding: 20px;
}

.gray-container img {
    width: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.all-info {
    margin-left: 50px;
    color: #C8C8C8;
    font-weight: 400;
}

.recipe-info {
    border: solid rgb(195, 195, 195) 1px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    margin: 20px 0;
}

.recipe-info p {
    font-weight: bolder;
    padding: 0 10px;
    font-weight: 400;
    color: #9e9e9e;
}

.recipe-info span {
    font-weight: bold;
}

.ingredients h3, .instructions h3 {
    color: #23B791;
    font-weight: bold;
    margin-bottom: 10px;
}

.ingredients {
    color: #9e9e9e;
    font-weight: 400;
}

.instructions {
    color: #868686;
    line-height: 1.2rem;
    margin-top: 40px;
    font-weight: 400;
}

.instructions h3 {
    margin-bottom: 20px;
}

.tag-container {
    color: #868686;
    display: flex;
    margin: 20px 0;
}

.tag-container p {
    border: #d5d5d5 solid 1px;
    border-radius: 10px;
    padding: 5px;
    margin-right: 20px;
}

.label {
    position: absolute;
    background-color: #00CC76;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

.button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 50px;
    background: linear-gradient(#00CC76, #23B791);
    width: 120px;
    height: 40px;
    color: white;
    font-weight: bold;
}

.button:hover {
    background: white;
    color: #23B791;
    border: #23B791 solid 1px;
}

.number-cnt {
    background: #00CC76;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number {
    width: 30px;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.instructions-container {
    display: flex;
    margin-bottom: 10px;
}



/* FAVORITE PAGE  */

.favorite-page {
    /* border: solid black 1px; */
    width: 500px;
    height: 90px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
}

.favorites-cnt {
    margin-top: 50px;
    height: 100%;
    /* border: solid black 1px; */
    display: flex;
    flex-direction: column;
}

.favorite-image {
    /* width: 100%; */
    height: 100%;
    border-radius: 20px;
    /*  object-fit: cover; */
}

.favorite-info {
    background: #00cc77ba;
    border-radius: 15px;
    width: 70%;
    color: white;
    padding: 15px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.favorite-info h3 {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.favorite-trash {
    background: #00cc77ba;
    border-radius: 15px;
    width: 10%;
    color: white;
    padding: 15px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.favorite-trash:hover {
    background: #a6ffda;
}

.searched-cnt {
    max-width: 1000px;
}

.searched-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.searched-title button {
    position: relative;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00CC76;
    font-size: 3rem;
    font-weight: bold;
}

@media only screen and (max-width: 920px) {
    .main-container {
        /* background: #00cc777d; */
        height: auto;
        margin-top: 30px;
    }
    .vegetarian, .vegan {
        margin-bottom: 50px;
        height: auto;
    }
    .card-container {
        margin-top: 20px;
        display: wrap;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        width: auto;
    }
}


@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 20px;
    }
    .searchbar {
        justify-content: center;
        margin-top: 20px;
    }
    h2 {
        text-align: center;
    }
    .vegetarian, .vegan {
        padding-bottom: 50px;
    }
    .button {
        z-index: 2;
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .mobile {
        display: inline;
    }
    .card-title {
        text-align: center;
    }
    /* RECIPE PAGE */
    .recipe-container {
        margin-top: 20px;
        padding: 20px;
    }
    .recipe-container h2 {
        font-size: 2rem;
    }
    .tag-container {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .gray-container {
        flex-direction: column;
        padding: 10px;
        margin-top: 20px;
    }
    .gray-container img {
        width: 100%;
    }
    .all-info {
        margin-left: 0;
    }
    .all-info li {
        margin-left: 20px;
    }
    .favor {
        margin-top: 10px;
        margin-left: auto;
    }
    .favorite-page {
        width: 90%;
        margin: auto;
        height: 70px;
        margin-bottom: 20px;
    }
    .favorite-trash {
        padding: 5px;
        height: 40px;
        margin: auto 7px;
    }
    .favorite-page h3 {
        font-size: 1.2rem;
    }
}