@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    font-weight: 200;
}

h3 {
    font-size: 1.5em;
    font-weight: 300;
    text-decoration: none;
}

span {
    font-weight: bold;
}

.main-container {
    margin: 80px auto;
    width: 80%;
    max-width: 1200px;
    height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: #23B791;
    font-size: 2rem;
}

.button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 50px;
    background: linear-gradient(#00CC76, #23B791);
    width: 120px;
    height: 40px;
    color: white;
    font-weight: bold;
}

.button:hover {
    background: white;
    color: #23B791;
    border: #23B791 solid 1px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00CC76;
    font-size: 3rem;
    font-weight: bold;
}

@media only screen and (max-width: 920px) {
    .main-container {
        height: auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 600px) {
    h2 {
        text-align: center;
    }
    .button {
        width: 150px;
        height: 50px;
        font-size: 1.2rem;
        z-index: 2;
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}